.layui-body {
	background: #eaeaea;
}

#nav-content-4 .grid-demo {
	padding: 10px;
	line-height: 50px;
	text-align: left;
	background-color: #79C48C;
	color: #fff;
}

#nav-content-4 .grid-demo-bg1 {
	background-color: #63BA79;
}

#nav-content-4 .grid-demo-bg2 {
	background-color: #49A761;
}

#nav-content-4 .grid-demo-bg3 {
	height: 285px;
	background-color: #38814A;
}

#nav-content-4 .line-limit-length {
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

#nav-content-6 .grid-demo {
	padding: 10px;
	line-height: 26px;
	text-align: left;
	background-color: rgb(202, 197, 197);
	color: black;
}

#nav-content-6 .grid-demo-bg2 {
	font-size: 20px
}

#nav-content-6 .line-limit-length {
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

#nav-content-7 .grid-demo {
	padding: 10px;
	line-height: 26px;
	text-align: left;
	background-color: rgb(202, 197, 197);
	color: black;
}

#nav-content-7 .grid-demo-bg2 {
	font-size: 20px
}

#nav-content-7 .line-limit-length {
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.good .grid-demo {
	padding: 10px;
	line-height: 50px;
	text-align: left;
	background-color: #79C48C;
	color: #fff;
}

.good .grid-demo-bg1 {
	background-color: #63BA79;
}

.good .grid-demo-bg2 {
	background-color: #49A761;
}

.good .grid-demo-bg3 {
	height: 285px;
	background-color: #38814A;
}

.good .line-limit-length {
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.goods {
	background-color: rgb(202, 197, 197);
	margin: 25px;
}

#nav-content-1 .goods img {
	width: 245px;
	height: 245px;
}
#nav-content-2 .goods img {
	width: 245px;
	height: 245px;
}
#nav-content-4 .goods img {
    width: 186px;
    height: 175px;
}
#nav-content-6 .goods img {
    width: 200px;
    height: 185px;

}
.layui-card {
	min-height: 765px;
	-webkit-animation: animatename 0.5s;
	animation: animatename 0.5s;
}

@keyframes animatename {
	0% {
		opacity: 0.6;
		-webkit-transform: translateX(10px);
		-ms-transform: translateX(10px);
		transform: translateX(10px);
	}

	100% {
		opacity: 1;
		transition: all 0.8s ease;
	}
}

@keyframes animatename {
	0% {
		opacity: 0.6;
		-webkit-transform: translateX(10px);
		-ms-transform: translateX(10px);
		transform: translateX(10px);
	}

	100% {
		opacity: 1;
		transition: all 0.8s ease;
	}
}



/*以下是泽欣增加的样式*/
/*头部*/

.layui-layout-admin .layui-header {
	background-color: #fff;
}

/*左上角字体*/

.layui-layout-admin .layui-logo {
	color: black;
}

/*上/左边导航栏默认情况下字体颜色*/

.layui-nav .layui-nav-item a {
	color: black;
}

/*上/左导航字体被选中时颜色*/

.layui-nav .layui-nav-item a:hover,
.layui-nav .layui-this a {
	color: #226597;
}

/*上导航栏子树被选中背景色*/

.layui-nav .layui-nav-child dd.layui-this a,
.layui-nav-child dd.layui-this {
	background-color: #048998;
}

/*字体下面的标识块颜色*/

.layui-nav .layui-this:after,
.layui-nav-bar,
.layui-nav-tree .layui-nav-itemed:after {
	background-color: #048998;
}

.layui-nav-tree .layui-nav-bar {
	background-color: #048998;
}

/*左导航颜色 被分成了两部分= =*/

.layui-bg-black {
	background-color: #f9fafc !important;
}

.layui-nav {
	background-color: #f9fafc;
}

/*左被选中时颜色*/

.layui-nav-tree .layui-nav-child dd.layui-this,
.layui-nav-tree .layui-nav-child dd.layui-this a,
.layui-nav-tree .layui-this,
.layui-nav-tree .layui-this > a,
.layui-nav-tree .layui-this > a:hover {
	background-color: #ececec;
}

/*左鼠标滑动时颜色*/

.layui-nav-tree .layui-nav-item a:hover {
	background-color: #ececec;
}

/*有子树的标签点击后显色*/

.layui-nav-itemed > a,
.layui-nav-tree .layui-nav-title a,
.layui-nav-tree .layui-nav-title a:hover {
	color: grey !important;
}

/*子树的背景色*/

.layui-nav-itemed > .layui-nav-child {
	background-color: #f6f5f5 !important;
}

/*那个指示有子树的小三角形*/

.layui-nav .layui-nav-more {
	border-color: #000 transparent transparent;
	border-top-color: rgba(0, 0, 0, 1);
}

.layui-nav .layui-nav-mored,
.layui-nav-itemed > a .layui-nav-more {
	border-color: transparent transparent #000;
}

/*子树被选中后字体颜色*/

.layui-nav-tree .layui-nav-child dd.layui-this,
.layui-nav-tree .layui-nav-child dd.layui-this a,
.layui-nav-tree .layui-this,
.layui-nav-tree .layui-this > a,
.layui-nav-tree .layui-this > a:hover {
	color: #226597;
}

/*内容部分tab的左边色块*/

.layui-elem-quote {
	border-left: 5px solid #f05a28;
	background-color: #f9f9f9;
}

/*搜索的书籍展示 背景色*/

.goods {
	background-color: #f4f4f4;
	margin: 1.5em;
}

/*借阅收藏背景*/

#nav-content-6 .grid-demo {
	background-color: #f4f4f4;
}

#nav-content-7 .grid-demo {
	background-color: #f4f4f4;
}

/*图书推荐部分*/

#nav-content-4 .grid-demo-bg1 {
	background-color: #f4f4f4;
}
/*借阅/收藏部分ul*/
.bookul{
	width: 90%;
	margin: 5% 5% 0 5%;
}
.bookul li div{
	margin-left:2%;
	display: inline-block;
	margin-bottom: 2%;
}
.bookul li div p{
	line-height: 2em;
	font-size: 1em;
}