<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:value="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>图书详情</title>
    <link rel="stylesheet" href="./layui/css/layui.css">
    <link rel="stylesheet" href="./css/good.css">
</head>
<style>
    .grid-demo {
        background-color: white;
        line-height: 2em;
        font-size: 1em;
    }

    .grid-demo-bg1 {
        background-color: #f4f4f4;
    }

    .grid-demo-bg2 {
        background-color: white;
        color: #000000;
    }

    .grid-demo-bg3 {
        background-color: white;
    }
</style>

<body style="width: 800px;height: 320px; margin: 2% auto;">

<div class="layui-row" style="padding: 2%;border: 2px solid gainsboro;">
    <div class="layui-col-md12">
        <div class="layui-row grid-demo">
            <div class="layui-col-md5" style="margin: 0 2em 1em 0;">
                <div class="grid-demo grid-demo-bg1">
                    <img style="width: 100%;" src="img/商品.jpg">
                </div>
            </div>
            <div class="layui-col-md6" style="height: 20em;overflow: hidden; text-overflow: ellipsis;">
                <div class="grid-demo grid-demo-bg2">
                    <p id="introduction">
                    </p>
                </div>
            </div>
        </div>
        <div class="layui-row grid-demo">
            <div class="layui-col-md4">
                <div class="grid-demo grid-demo-bg2">书名：《<span id="name">epsilon</span>》</div>
            </div>
            <div class="layui-col-md4">
                <div class="grid-demo grid-demo-bg2">作者：<span id="author">沃·夏边德</span></div>
            </div>
            <!--<div class="layui-col-md4">-->
                <!--<div class="grid-demo grid-demo-bg2">版次：<span>2</span></div>-->
            <!--</div>-->
            <div class="layui-col-md4">
                <div class="grid-demo grid-demo-bg2">出版社：<span id="publisher">沃野·布吉岛</span></div>
            </div>
            <!--<div class="layui-col-md4">-->
                <!--<div class="grid-demo grid-demo-bg2">性质：<span>教辅</span></div>-->
            <!--</div>-->
            <div class="layui-col-md4">
                <div class="grid-demo grid-demo-bg2">分类：<span id="kindName">计算机</span></div>
            </div>
            <div class="layui-col-md4">
                <div class="grid-demo grid-demo-bg2">可预约数量：<span id="totalNum">56</span></div>
            </div>
            <div class="layui-col-md12" style="margin: 1em auto;">
                <div class="grid-demo grid-demo-bg3">
                    <button class="layui-btn layui-bg-blue borrow" type="button" id="borrow">预约</button>
                    <button class="layui-btn borrow layui-hide layui-bg-orange" type="button" id="deleteBorrow">取消预约</button>
                    <button class="layui-btn collection" type="button" id="collection">收藏</button>
                    <button class="layui-btn collection layui-hide layui-bg-red" type="button" id="deleteCollection">取消收藏</button>
                    <button class="layui-btn layui-btn-primary small" type="close">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="layui/layui.js"></script>
<script src="js/good.js"></script>
<script src="layer/layer.js"></script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var basePath = /*[[@{/}]]*/;
    /*]]>*/
</script>
</body>

</html>