<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:value="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>图书详情</title>
    <link rel="stylesheet" href="layui/css/layui.css">
    <link rel="stylesheet" href="css/good.css"></head>
    <style>
    	.grid-demo{
    		background-color: white;
    	}
    	.grid-demo-bg1{
    		background-color: #f4f4f4;
    	}
    	.grid-demo-bg2{
    		background-color: white;
    		color: #000000;
    	}
    	.grid-demo-bg3{
    		background-color: white;
    	}
    	
    </style>
<body style="width: 1000px;height: 400px;" >

<div class="layui-row">
    <div class="layui-col-md12">
        <div class="layui-row grid-demo">
            <div class="layui-col-md7">
                <div class="grid-demo grid-demo-bg1">  <img style="width: 100%;" src="img/商品.jpg"></div>
            </div>
            <div class="layui-col-md5">
                <div class="grid-demo grid-demo-bg2">内部列内部列内部</div>
            </div>
            <div class="layui-col-md5">
                <div class="grid-demo grid-demo-bg2">内部列内部列内部</div>
            </div>
            <div class="layui-col-md5">
                <div class="grid-demo grid-demo-bg2">内部列内部列内部</div>
            </div>
            <div class="layui-col-md5">
                <div class="grid-demo grid-demo-bg2">内部列内部列内部</div>
            </div>
            <div class="layui-col-md5">
                <div class="grid-demo grid-demo-bg2">内部列内部列内部</div>
            </div>
            <div class="layui-col-md5">
                <div class="grid-demo grid-demo-bg2">内部列内部列内部</div>
            </div>
            <div class="layui-col-md5">
                <div class="grid-demo grid-demo-bg2">内部列内部列内部</div>
            </div>
            <div class="layui-col-md5">
                <div class="grid-demo grid-demo-bg2">内部列内部列内部</div>
            </div>
            <div class="layui-col-md12">
                <div class="grid-demo grid-demo-bg3"><a class="layui-btn layui-btn-primary borrow">借书</a>
                    <a class="layui-btn collection">收藏</a></div>
            </div>

        </div>
    </div>
</div>


<script src="layui/layui.js"></script>
<script src="js/good.js"></script>
<script src="layer/layer.js"></script>
</body>

</html>