<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:value="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="layui/css/layui.css">
    <link rel="stylesheet" href="css/good.css">
</head>
<style>
    .grid-demo {
        background-color: white;
        color: black;
    }

    .layui-form-item .layui-input-inline {
        margin: 1em 15% 0 20%;
        width: 65%;
    }

</style>

<body style="background-color: lightgray;">
<div STYLE="width: 100%;">
    <div style="margin: 2em 30% 0 30%;width: 40%;text-align: center;font-size: 2em;">
        Find your books
    </div>
</div>

<div STYLE="width: 100%;">
    <div class="grid-demo" style="margin: 1em 30% 0 30%;width: 40%;">
        <div style="margin: 1em auto;font-size: 1em;">登录开始新的旅程吧</div>
        <form class="layui-form" action="" method="post"    >
<!--        <form class="layui-form" action="" method="post" th:action="@{/login}" th:object="${User}">-->
        <h3 id="msg" style="color:red;"></h3>
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <input type="text" name="userName" required lay-verify="required" placeholder="账号" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <input type="password" name="password"  required lay-verify="required" placeholder="密码" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <button class="layui-btn" type="submit" id="login" lay-submit lay-filter="formDemo">登陆</button>
                    <button class="layui-btn layui-bg-black" type="button" id="jump">跳过</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="layui/layui.js"></script>
<script src="js/good.js"></script>
<script src="layer/layer.js"></script>
<script src="js/jquery.js"></script>
</body>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var basePath = /*[[@{/}]]*/;
    /*]]>*/
</script>
<script>
    var url = location.href;
    var paraString = url.substring(url.indexOf("?") + 1, url.length).split("&");
    var paraObj = { };
    for (i = 0; j = paraString[i]; i++) {
        paraObj[j.substring(0, j.indexOf("=")).toLowerCase()] = j.substring(j.indexOf("=") + 1, j.length);
    }
    paraObj.msg= decodeURIComponent(paraObj.msg);
    console.log(paraObj.msg);
  $("#msg").html(paraObj.msg);
    $("#login").click(function () {
        $.ajax({
            url: basePath + 'login'
            , type: 'post'
            , data: {
                userName: $("input[name='userName']").val()
                , password: $("input[name='password']").val()
            }
            , success: function (res) {
                console.log("ok");
            }
        });
    });

   $("#jump").click(function () {
       console.log("ok")
       $.ajax({
           url: basePath + 'login'
           , type: 'post'
           , data: {
                 userName:"Tourist"
               , password:"Tourist"
           }
           , success: function (res) {
               console.log("游客登陆");
           }
       });
   })
</script>
</html>
